@import '@fontsource/alatsi/latin-400.css';
@import '@fontsource/cagliostro/latin-400.css';
@import '@fontsource/inter/latin-400.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror {
  padding: var(--chakra-space-8) var(--chakra-space-4);
}

.ProseMirror.ProseMirror-focused {
  border-color: transparent;
  outline: none;
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror img {
  display: inline;
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h1 {
  font-size: var(--chakra-fontSizes-7xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h2 {
  font-size: var(--chakra-fontSizes-6xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h3 {
  font-size: var(--chakra-fontSizes-5xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h4 {
  font-size: var(--chakra-fontSizes-4xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h5 {
  font-size: var(--chakra-fontSizes-3xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror h6 {
  font-size: var(--chakra-fontSizes-2xl);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror hr {
  margin-top: var(--chakra-space-8);
  margin-bottom: var(--chakra-space-8);
}

.ProseMirror ul {
  padding-left: 25px;
  list-style-type: disc;
}

.ProseMirror ol {
  padding-left: 25px;
  list-style-type: decimal;
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror pre {
  background: var(--chakra-colors-gray-900);
  border-radius: var(--chakra-radii-md);
  padding: var(--chakra-space-2) var(--chakra-space-4);
  margin-top: var(--chakra-space-4);
  margin-bottom: var(--chakra-space-4);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror blockquote {
  border-left: 4px solid var(--chakra-colors-gray-600);
  padding-left: var(--chakra-space-4);
  margin-top: var(--chakra-space-4);
  margin-bottom: var(--chakra-space-4);
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror a {
  text-decoration: underline;
}

/*noinspection CssUnresolvedCustomProperty*/
.ProseMirror .ProseMirror-selectednode {
  border: 1px solid var(--chakra-colors-gray-600);
}

.ProseMirror {
  height: 600px;
  overflow: auto;
}
